# You can deploy to any EVM chain, such as Ethereum or Polygon

# Add your favorite RPC endpoints here (say from Alchemy) for the chain you're deploying to.
TESTNET_RPC=
MAINNET_RPC=

# Add your wallet's private key below. Make a note of your public address here so you remember!
#
# This is the private key for this public address: 0x......
PRIVATE_KEY=

# Create and add your API key for your chain's "scan" site.
# - If Polygon, create one here: https://polygonscan.com/myapikey
# - If Ethereum, create one here: https://etherscan.io/myapikey
ETHERSCAN_API_KEY=

# For upgradeable functionality. Update this once initial contract was deployed
UPGRADEABLE_PROXY_ADDRESS=
